/* Mobile */

@media (width < 1023px) {
	.about__row {
		flex-direction: column;
	}

	.about__cover {
		order: -1;
		margin-bottom: 32px;
		padding-top: 212px;
		width: 335px;
		border-radius: 212px/106px;
	}
}
