/* Hero-block */

.hero-block {
}

.hero-block__back {
	position: absolute;
	inset: 0;
	z-index: -1;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.hero-block__wrapper {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 220px;
	margin-top: 40px;
}

.hero-block__info {
	text-align: center;
	font-size: 18px;
	line-height: 1.3;
	z-index: 1;
}

.hero-block__tagline {
	margin: 0;

	font-family: "Merriweather", system-ui, serif;
	font-size: 60px;
	line-height: 1.1;
	text-transform: uppercase;
	text-align: left;
}

.hero-block__tagline--center {
	text-align: center;
}

.hero-block__tagline--right {
	text-align: right;
}

.hero-block__text {
	margin: 36px 0;
}
