/* Base */

.running-line {
	position: relative;
	display: flex;
	font-family: var(--font-family-heading);
	font-size: 22px;
	color: var(--color-white);
	text-transform: uppercase;

	background-color: var(--color-warning);
	overflow: hidden;
	/* height: 50px; */
}

.running-line__list {
	/* position: absolute;
	height: 50px; */

	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style: none;
	/* animation: scroll 5s infinite linear normal;
	animation-duration: 16s; */
}

.running-line__item {
	position: relative;
	display: flex;
	flex: auto;
	padding-inline: 12px;
	white-space: nowrap;
}

.running-line__item::after {
	content: '';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: currentColor;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%);
}
