/* Colors */

:root {
	--color-black: #1F1F1F;
	--color-dark: #313131;
	--color-middle: #595653;
	--color-grey: #D0D0D0;
	--color-red: #F54932;
	--color-blue: #3057A2;
	--color-sepia: #E9DED4;
	--color-white: #ffffff;
}
