/* Slider-block */

.slider-block {
	overflow: hidden;
}

.slider-block__title {
	max-width: 806px;

	font-family: var(--font-family-heading);
	font-size: 54px;
	line-height: 1.2;
	font-weight: 400;
	text-transform: uppercase;
}

.slider-block__heading-row {
	display: flex;
	align-items: center;
}

.slider-block__description {
	padding-left: 32px;
	width: min-content;

	font-size: 20px;
	line-height: 1.2;
	color: var(--color-blue);
	font-weight: 400;
}
