/* Hero-cover */

.hero-cover__city {
	position: absolute;
	bottom: 0;
	left: 50%;

	display: flex;
	justify-content: center;

	overflow: hidden;
	transform: translateX(-50%);

	img {
		height: 100%;
		object-fit: cover;
	}
}

.hero-cover__circle {
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform-origin: center;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		height: auto;
	}
}

.hero-cover__figure-1 {
	position: absolute;
	bottom: 206px;
	left: 54%;
}

.hero-cover__figure-2 {
	position: absolute;
	bottom: 300px;
	left: 80%;
}

.hero-cover__figure-3,
.hero-cover__figure-4 {
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 1;
}

.hero-cover__figure-3 {
	transform: translate(100px, 0);
}

.hero-cover__figure-4 {
	transform: translate(500px, -50px);
}
